alembic==1.7.5
argcomplete==1.12.3
click==8.0.3
colorama==0.4.4
commitizen==2.20.0
decli==0.5.2
Flask==2.0.2
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
packaging==21.3
prompt-toolkit==3.0.23
psycopg2-binary==2.9.2
pyparsing==3.0.6
python-dotenv==0.19.2
PyYAML==6.0
questionary==1.10.0
SQLAlchemy==1.4.27
termcolor==1.1.0
tomlkit==0.7.2
wcwidth==0.2.5
Werkzeug==2.0.2
